:root {
  --subdued-color: #999;
  --text-color: #555;
}

body {
  background-color: #f3f3f3;
  color: var(--text-color);
}

.notification-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.notification-card {
  background-color: white;
  border: 1px solid var(--subdued-color);
  border-radius: 0.25rem;
  padding: 0.75rem;
}

.notification-header {
  display: flex;
  gap: 0.5rem;
}

.notification-title {
  flex-grow: 1;
  font-size: 1.1rem;
}

.notification-time {
  color: var(--subdued-color);
}

.notification-content {
  background-color: #f0f0f0;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon > path {
  fill: var(--subdued-color);
}
